/* LandingPage.css */
.landing-container {
  background-color: #f5f5f5;
  background-image: url(/public/images/background3.jpg);
}

.landing-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.hero-section {
  position: relative;
  text-align: center;
}

/* LandingPage.css */
.hero-image {
  width: 50%;
  border-radius: 8px;
  margin-top: 20px;
  opacity: 0; /* Set initial opacity to 0 */

  /* Apply animation properties */
  animation: fadeIn 1.5s ease-out forwards; 
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with 0 opacity */
  }
  to {
    opacity: 1; /* Fade in to 100% opacity */
  }
}


.features-section {
  margin-top: 40px;
}

.feature {
  margin-bottom: 30px;
}

.feature h2 {
  font-size: 24px;
  color: black;
}

.features-section h1 {
  text-align: center;
}

.feature p {
  font-size: 16px;
  line-height: 1.6;
}

/* Add bullet points to features */
.feature ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

.feature ul li {
  font-size: 14px;
  margin-bottom: 8px;
}

.cta-section {
  text-align: center;
  margin-top: 40px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #2c3e50;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .landing-page {
    padding: 10px;
  }

  .hero-image {
    margin-top: 10px;
  }

  .feature h2 {
    font-size: 20px;
  }

  .feature p {
    font-size: 14px;
  }

  .feature ul li {
    font-size: 12px;
  }

  .cta-button {
    font-size: 14px;
  }
}
/* Add border to the features-section */
.features-section {
  border: 1px solid black; /* Add border style */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
  padding: 20px; /* Optional: Add padding for spacing */
  margin-top: 20px; /* Optional: Add margin for spacing */
}

/* Style for the feature headings */
.feature h2 {
  font-size: 24px;
  color: #050505;
}

/* Style for the feature list items */
.feature ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 20px;
}

.feature ul li {
  font-size: 16px;
  margin-bottom: 8px;
}
